<div id="<%= dom_id purchase %>">
  <p>
    <strong>Item name:</strong>
    <%= purchase.item_name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= purchase.price %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= purchase.weight %>
  </p>

</div>
