<% content_for :title, "Editar Compra" %>

<h1>Editar Compra</h1>

<%= render "form", purchase: @purchase %>

<br>

<div>
  <%= link_to "Ver esta compra", @purchase %> |
  <%= link_to "Voltar para compras", purchases_path %>
</div>
