<% content_for :title, "Editar Empresa" %>

<h1>Editar Empresa</h1>

<%= render "form", company: @company %>

<br>

<div>
  <%= link_to "Ver esta empresa", @company %> |
  <%= link_to "Voltar às empresas", companies_path %>
</div>
