<% content_for :title, "Empresas" %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="h3">Empresas</h1>
  <%= link_to "Nova empresa", new_company_path, class: "btn btn-primary" %>
 </div>

<div id="companies" class="row g-3">
  <% @companies.each do |company| %>
    <div class="col-md-6 col-lg-4">
      <%= render company %>
    </div>
  <% end %>
</div>
