<div id="<%= dom_id item %>">
  <p>
    <strong>Nome:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Peso:</strong>
    <%= item.weight %>
  </p>

  <p>
    <strong>Preço:</strong>
    <%= item.price %>
  </p>

</div>
